.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  box-sizing: border-box;
  background-color: #1c1e22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}